*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.head {
  display: flex;
  gap: 5px;
  padding: 20px;
  align-items: center;
}

.filterBar {
  color: #fff;
  background-color: #555;
  width: 20%;
  border: none;
  border: 1px solid #000;
  border-radius: 2px;
}

#logo {
  margin-left: auto;
}

#logo img {
  width: auto;
  height: 40px;
  display: block;
  margin-left: auto;
  min-width: 80px;
  max-width: 150px;
  object-fit: contain;
}

#getBtn {
  margin: 5px;
  color: #fff;
  background-color: #363940;
  text-align: center;
  height: 1.5lh;
  border: none;
  border: 1px solid #000;
  border-radius: 2px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  min-height: 20vh;
}

.card {
  background-color: #363940;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img img {
  background: #555;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardContent {
  padding: 12px;
  text-align: center;
}

.cardContent h3 {
  font-size: 1rem;
  margin: 0 0 8px 0;
}

.cardContent p {
  font-size: 0.9rem;
  color: #aaa;
  margin: 0;
}
